<!DOCTYPE html>
<html>
<head>
<style>
  .snapshot { 
        border: 5px outset red;
        background-color: lightblue;}
</style>
</head>
<body>
<h1>HTML with SVG for the Evening!!</h1>
 <div class="snapshot">
    <h2>SNAPSHOT ID: 1</h2>
    <h3>Description: After first </h3>
    <svg width="1000" height="1000">
        <rect id="myrect" x="200" y="200" width="50" height="100" fill="rgb(255,0,0)" visibility="visible">
        </rect>
        <ellipse id="myoval" cx="500" cy="100" rx="60" ry="30" fill="rgb(0,255,1)" visibility="visible">
        </ellipse>
   </svg>
</div>
 <div class="snapshot">
    <h2>SNAPSHOT ID: 2</h2>
    <h3>Description: 2nd </h3>
    <svg width="1000" height="1000">
        <rect id="myrect" x="200" y="200" width="50" height="100" fill="rgb(255,0,0)" visibility="visible">
        </rect>
        <ellipse id="myoval" cx="500" cy="100" rx="60" ry="30" fill="rgb(0,255,1)" visibility="visible">
        </ellipse>
   </svg>
</div>
 <div class="snapshot">
    <h2>SNAPSHOT ID: 3</h2>
    <h3>Description: </h3>
    <svg width="1000" height="1000">
        <rect id="myrect" x="200" y="200" width="50" height="100" fill="rgb(255,0,0)" visibility="visible">
        </rect>
        <ellipse id="myoval" cx="500" cy="100" rx="60" ry="30" fill="rgb(0,255,1)" visibility="visible">
        </ellipse>
   </svg>
</div>
 <div class="snapshot">
    <h2>SNAPSHOT ID: 4</h2>
    <h3>Description: Selfie after removing the rectangle from the </h3>
    <svg width="1000" height="1000">
        <rect id="myrect" x="200" y="200" width="50" height="100" fill="rgb(255,0,0)" visibility="visible">
        </rect>
        <ellipse id="myoval" cx="500" cy="100" rx="60" ry="30" fill="rgb(0,255,1)" visibility="visible">
        </ellipse>
   </svg>
</div>
</body>
</html>
